 
  /* set up grid layout */
  #vocab_flashcard {display: inline-grid;  
        grid-template-columns: 1fr 10fr 1fr;  
        grid-template-rows:    2fr .5fr 6fr 1.5fr repeat(4, 5fr);
        grid-template-areas: 
           " audio       title       cancel   "
           " description description description "
           " question    question    question "
           " timeout     timeout     timeout    "
           " a1  a1  a1  "
           " a2  a2  a2  "
           " a3  a3  a3  "
           " a4  a4  a4  "; 
      }
  }  

  /* play/pause button */
  #vocab_flashcard .audio   {grid-area: audio;} 
  #vocab_flashcard .audio img {opacity: .55; width: 130%; margin-left:-35%;}
  /* aligned to the center */
  #vocab_flashcard .title   {
    grid-area: title; text-align: center; padding-top: .1vw;
    font-family: "Comic Sans MS", cursive, sans-serif; color: #687067;
  }    
  /* cancel session button */
  #vocab_flashcard .cancel  {grid-area: cancel;}   
  #vocab_flashcard .cancel img {opacity: .55; width: 130%;}
  #vocab_flashcard .audio .material-icons, #vocab_flashcard .cancel .material-icons {font-size: calc(); color: #95a093;} 

 #vocab_flashcard .description {grid-area: description; margin: 0; 
    font-family: "Arial Black", Gadget, sans-serif;
    display:flex; align-items:center; justify-content:center;
    font-size: .5em; color: silver; font-style: italic; font-weight: normal
  } 
  #vocab_flashcard .question {grid-area: question; margin-top: .25em; margin-bottom: .25em; 
    font-family: "Arial Black", Gadget, sans-serif;
    display:flex; align-items:center; justify-content:center;
  } 
 


  #timeout   {grid-area: timeout; 
    position: relative; background: #89a085; overflow: hidden; height: .5vh; 
    border-radius: .25rem; padding: 1px;
  } 
  #timeout-progress {
    position: absolute; background: #f0f0f0; width: 100%; height: 100%; left: 0; top: 0;
  }

  #vocab_flashcard .answer  {
    padding: .5em; padding-left: 3em;  
    margin-bottom: .5em; position: relative; 
    /* content */
    overflow: hidden;
    font-family: Arial, Helvetica, sans-serif;
    display:flex; align-items:center;  
    background: transparent; border: .2vh solid #DDD; border-radius: .8vh; 
    background-image: url(times.svg); background-repeat: no-repeat;
    background-size: 10%; background-position: 3%; 
    box-shadow: 1px 1px 5px 0px rgba(100,100,201,0.23);
    position: relative;
  } 

  #vocab_flashcard .answer span[data-num]:after {
    content: attr(data-num); color: #ddd;  
    position: absolute; right:.5vh; top:.4vh; font-size: 1.5vh;
  }
  #vocab_flashcard .answer:hover, .answer.cheater {box-shadow: 0 0 .25rem rgba(0, 0, 0, 0.2) inset;} 
  .answer:before {
    position: absolute; display: block; content: ""; 
    height: 101%; top: 0; left: 0; width: 15%; z-index:-1000; opacity: .5; background: white; 
    border-top-left-radius: .8vh; border-bottom-left-radius: .8vh; 
  }
  @keyframes pulse { 
    0%   {background-color: #fff;}
    50%  {background-color: rgba(00,256,00,.25);} 
    100% {background-color: #fff;}
  }
  @keyframes throb {
    0%   {opacity: .1; right: -4vh;}
    50%  {opacity: .1; right: 0;}
    100% {opacity: .1; right: -4vh;}
  }

  #vocab_flashcard .answer.correct {background-image: url(check.svg);}
  #vocab_flashcard .answer.correction {
    /* animation: pulse 3s ease-out 2 !important; */
  }
  img.correct_arrow {
    position: absolute; top: 20%; right:0;  z-index: 100; opacity: .2; width: 5vh;
    animation: throb 2s ease-out 10 !important;
  }

  #vocab_flashcard .answer.correction span.text {
     /* background: yellow; */
    font-size: 130%} 
  #vocab_flashcard .answer.correct:before {background: green;}
 
  .answer.wrong {opacity: .5}
  .answer.wrong:before {background: red;}

  .answer.wrongselection {border: 2px solid rgba(173, 38, 38, .85); opacity: 1;}
  .answer.wrongselection:before {background:rgb(173, 38, 38); opacity:.85}

  /* #vocab_flashcard .answer:last-child {margin-bottom: 0; } */

  #vocab_flashcard .a1 {grid-area: a1;}
  #vocab_flashcard .a2 {grid-area: a2;}
  #vocab_flashcard .a3 {grid-area: a3;}
  #vocab_flashcard .a4 {grid-area: a4;}

  /* buttons */
  #vocab_flashcard .audio, #vocab_flashcard .cancel, #vocab_flashcard .answer { cursor: pointer;} 
  #vocab_flashcard .audio .material-icons:hover, #vocab_flashcard .cancel .material-icons:hover {color: green;}

  #vocab_flashcard .question.clickable { cursor: pointer !important;}
 